
.nyil{
	margin-top: 20px;
}
.thumb{
	width: 50px;
	height: 50px;
	margin-top: 20px;
	filter: grayscale(70%);
	z-index: 998;
}
.thumb:hover{
	width: 75px;
	height: 75px;
	position: relative;
	margin: -12.5px;
	filter: grayscale(0);
	z-index: 999;
}
#bigPic {
	width: 80em;
	height: 40em;

}